
.big-box {
  margin: 10px; 
}

.small-box {
  width: fit-content;
  height: fit-content;
  background-color: #57aa3a;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;  
}

.container {
  width: 100%;
}

.left-container {
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  justify-content: center;
  display: flex;
}

.right-container {
  background-color: #e0e0e0;
}

.note-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
}
  
.note-header {
  background-color: #57AA3A;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
  
.note-body {
  padding: 10px;
  background-color: #fff;
}
  
.note-footer {
  background-color: #f8f9fa;
  padding: 10px;
  font-size: 12px;
  text-align: right;
}
  
.turnWhite{
  color: white;
}