.background {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card {
    background-color: #111;
    color: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 0 15px #444;
}


.header p {
    margin: 5px 0;
    font-size: 13px;
    color: #ccc;
  }
  
.contribuicao {
    background-color: #222;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
  }
  
.contribuicao h3 {
    margin-bottom: 10px;
  }
  
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 14px;
  }
  
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #eee;
}